!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %title= data.page.title
    %meta{ content: data.page.description, name: "description" }
    %meta{ content: data.page.keywords, name: "keywords" }
    %meta{ content: "width=device-width", name: "viewport" }
    -# = stylesheet_inline_tag "main"
    = stylesheet_link_tag "main"
  %body
    %header
      .header__content
        .logo= image_tag "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22393%22%20height%3D%2263%22%20viewBox%3D%220%200%20393%2063%22%3E%3Cdefs%3E%3ClinearGradient%20id%3D%22a%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20y2%3D%220%25%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%238e0ab1%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2341047e%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22url%28%23a%29%22%3E%3Cpath%20d%3D%22M0%200v63h58v-4H32V0zM65%200v63h60v-4H97V33h21v-4H97V4h28V0zM134%200v63h45v-4h-13V4h13V0zM179%200v63c44%205%2044-67%200-63z%22%2F%3E%3Cpath%20d%3D%22M219%2022v28c1%2011%205%2013%2017%2013s14-2%2015-5v-3h-2c-1%206-5%206-11%206V39h8v-2h-8V22zM254%2047v3c1%2011%205%2013%2022%2013s19-1%2020-8v-1h-2c0%209-19%207-21%206V47zM254%2047h19V31c-4%200-18%201-19%2015zM273%2047h23c1-15-11-16-23-16v3c12-1%2020%203%2020%2010h-20zM300%2047v3c1%2011%205%2013%2022%2013s19-1%2020-8v-1h-2c0%209-19%207-21%206V47zM300%2047v-3c1-11%205-13%2022-13s19%201%2020%208v1h-2c0-9-19-7-21-6v13zM346%2022v41h19V40c0-8%209-8%209%200v23h19V45c0-6-4-15-28-14v-9z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"
        %nav
          %ul.nav
            %li.nav__item= link_to "Ассортимент и цены", "#prices"
            %li.nav__item= link_to "Как это работает", "#why_use"
            %li.nav__item= link_to "Рассчитать размеры", "#calculate"
            -# %li.nav__item= link_to "Галерея", "#gallery"
            %li.nav__item= link_to "Отзывы", "#feedback"
            %li.nav__item= link_to "Контакты", "#contacts"
    %div{:role => "main", :class => "main"}= yield
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    :javascript
      $('.nav').on('click', 'a', function() {
        $('.nav .selected').removeClass('selected');
        $(this).addClass('selected');
      });
      $('#product').change(function() {
        $('#construction').html(
          this.value === 'LED-штендер' ?
            '<option value="Односторонний">Односторонний</option><option value="Двусторонний">Двусторонний</option>' :
            '<option value="С прозрачным фоном">С прозрачным фоном</option><option value="Прозрачная (фон отсутствует)">Прозрачная (фон отсутствует)</option>'
        );
      });
      $('#calculate_form').submit(function(e) {
        e.preventDefault();
        var data = $(this).serialize();
        ga('send', {
          hitType: 'event',
          eventCategory: 'form',
          eventAction: 'submit',
          eventValue: data
        });
        $.ajax({
          url: this.action,
          method: this.method,
          data: data,
          dataType: 'json',
          success: function(data) {
            location.href = data.next;
          },
          error: function(error) {
            console.error(error);
          }
        });
      });
      $('#feedback_form').submit(function(e) {
        e.preventDefault();
        var data = $(this).serialize();
        ga('send', {
          hitType: 'event',
          eventCategory: 'feedback',
          eventAction: 'submit',
          eventValue: data
        });
        $.ajax({
          url: this.action,
          method: this.method,
          data: data,
          dataType: 'json',
          success: function(data) {
            location.href = data.next;
          },
          error: function(error) {
            console.error(error);
          }
        });
      });

      // Track basic JavaScript errors
      window.addEventListener('error', function(e) {
        ga('send', 'exception', {
          type: 'JavaScript Error',
          message: e.message,
          line: e.filename + ':  ' + e.lineno
        });
      });

      // Track AJAX errors (jQuery API)
      $(document).ajaxError(function(e, request, settings) {
        ga('send', 'exception', {
          type: 'Ajax Error',
          url: settings.url,
          data: e.result
        });
      });

    - if build?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72533820-1', 'auto');
        ga('send', 'pageview');
    - else
      :javascript
        function ga() {}
