!!!
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title= data.page.title || "SET YOUR SITE NAME"
    %meta{:content => data.page.description || "SET YOUR SITE DESCRIPTION", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag "main"
  %body
    %header
      .header__content
        .logo
        %nav
          %ul.nav
            %li.nav__item.selected Наш ассортимент
            %li.nav__item= link_to 'Зачем использовать', '#why_use'
            %li.nav__item= link_to 'Рассчитать цены', '#price'
            %li.nav__item= link_to 'Галерея', '#gallery'
            %li.nav__item= link_to 'Отзывы', '#feedback'
        .head-contacts
          %p= link_to '+38 (095) 308 21 06', 'tel:38-095-308-2106'
          %p= link_to '+38 (098) 111 89 26', 'tel:38-098-111-8926'
          %p= link_to 'ledtech.ua@gmail.com', 'mailto:ledtech.ua@gmail.com'
    %div{:role => "main", :class => "main"}= yield
    %footer
      .links
        = succeed ';' do
          = link_to '+38 (095) 308 21 06', 'tel:38-095-308-2106'
        = link_to '+38 (098) 111 89 26', 'tel:38-098-111-8926'
      .links= link_to 'ledtech.ua@gmail.com', 'mailto:ledtech.ua@gmail.com'
