---
title: todo (add title)
description: todo
---

.banner._promo
  %h1= image_tag "assets/img/h1-content.png", alt: "LED-Доски"
  %h2= image_tag "assets/img/h2-content.png", alt: "Сделаем рекламу ярче"
  %h3 Прекрасная альтернатива стандартной меловой доске
  %h4= data.content.phone1.gsub /[()]/, ''

%section
  %h2 LED-доска для рекламы
  %h3 Как привлечь клиентов и покупателей?
  %p
    Тут нужно помнить о рекламе и доступности информации.
    Для этого есть отличное решение – светодиодная флеш-доска для рекламы!
    С помощью флеш-доски вы явно будете выделяться среди ваших конкурентов.
    Инновационный инструмент позволит рассказать и представить
    ваши преимущества, ассортимент продукции, предложить скидку и т.д.

%section
  %h2 Наш ассортимент
  ._catalog
    - data.content.catalog.each_with_index do |item, i|
      .snippet
        .snippet__thumb= image_tag "assets/img/item#{i + 1}.jpg"
        %h3.snippet__title= item.title
        .snippet__description= item.description
        .modal{ id: "details#{i}" }
          .details
            .close= link_to '×', '#'
            %h3 LED штендер
            %p
              LЕD штендер – это переносной рекламный стенд с использованием технологии LED.
              Изделие представляет собой Т-образную конструкцию с возможностью отображения рекламнo-информационных надписей с двух сторон.
              Устанавливается на улице или внутри помещений в непосредственной близости к месту продвижения Ваших товаров и услуг.
            %p
              Как это работает?
              LED штендер – это панель с торцевой LED подсветкой, на которой вместо мела пишут флуоресцентными (светящимися) маркерами.
              Вы просто рисуете и пишете на штендере все что угодно, ваши надписи и рисунки будут динамически подсвечиваться разными цветами, создавая привлекательный эффект, который невозможно получить, используя меловую доску.
            %p
              Предлагается LED штендер размерами 50×70 см. При необходимости возможно изготовление LED штендера любых размеров и характеристик с учетом Ваших пожеланий, например, материал поверхности, тип контроллера, длина провода, двухсторонний или односторонний и т.д.

        .price
          от
          %span.amount 100
          грн
        .order-link= link_to 'Заказать', '#'

%section._markers
  = image_tag "assets/img/markers.jpg"
  %h3 Флуоресцентные маркеры
  %p
    Флуоресцентные маркеры применяются для выполнения надписей и рисунков на нашей продукции.
    Маркеры изготовлены на водной основе, без запаха, легко стираются бумажной салфеткой.
    Толщина стержня – 8 мм.
  %p
    Перед использованием маркер необходимо встряхнуть, нажать на стержень и держать, пока он не пропитается краской.
  -#
    %p В набор входят маркеры желтого, белого, красного, синего, зеленого, оранжевого, фиолетового и розового цветов.
    %p Мы предлагаем только качественные, хорошо зарекомендовавшие себя маркеры, благодаря чему Ваши надписи и рисунки будут яркими и привлекательными!
  .stickers
    .price
      от
      %span.amount 100
      грн
    .order-link= link_to 'Заказать', '#'

.banner._features
  %section
    %h3
      %a{ name: 'why_use' } Зачем использовать?
    %ul
      %li
        %h4 Просто
        %p Вы пишите и рисуете всё что угодно, как на обычной меловой доске или штендере
      %li
        %h4 Удобно
        %p Надписи можно стирать и наносить заново. Вы легко управляете коммуникацией с вашими клиентами / посетителями
      %li
        %h4 Эффективно
        %p Вместо мелка используются флуоресцентные маркеры, чернила которых ярко светятся на пишущей поверхности, имеющей светодиодную (LED) подсветку
      %li
        %h4 Разнообразно
        %p 19 возможных режимов работы LED-подсветки. Возможность дневного применения без включенной подсветки
    -#
      %p По статистике, LED доска привлекает внимание на 60% больше, чем обычная меловая доска, увеличивает количество клиентов, и соответственно, продаж.
      %p Красиво информируйте о своих продуктах, услугах, распродажах, скидках и акциях!
      %br
      %p Какие же плюсы от использования LED доски?
      %ul
        %li привлекательный визуальный эффект, на который невозможно не обратить внимание;
        %li 30 режимов, 8 цветов мерцания и подсветки;
        %li легкость смены надписей:
        %li доступная цена и высокая эффективность;
        %li низкое энергопотребление.
      %p
        %strong Какими преимуществами обладает флуоресцентная доска?
      %ul
        %li с помощью данных изделий можно украсить интерьер любого помещения, сделав его более ярким красочным и способным привлечь внимание посетителей магазина, салона, торгового зала;
        %li теперь число ваших клиентое заметно увеличится, так как новое предложение сразу же будет замечено и оценено по достоинству;
        %li неоновые доски — это отличный технологический подход.  необходимый для ведения современного бизнеса.

  %section.banner__footer
    %h3
      %a{ name: 'calculate' } Расчет стоимости LED-изделия
    %h4 по индивидуальным размерам
    = form_tag 'calculate' do
      %p
        = label_tag :product, caption: 'Вид товара'
        = select_tag :product, options: %w(выбрать)
      %p
        = label_tag :construction, caption: 'Тип конструкции'
        = select_tag :construction, options: %w(выбрать)
      %p
        = label_tag :surface, caption: 'Материал поверхности'
        = select_tag :surface, options: %w(выбрать)
      %p
        = label_tag :size, caption: 'Размеры внутренние'
        = select_tag :size, options: %w(выбрать)
      %p
        = label_tag :background, caption: 'Тип фона'
        = select_tag :background, options: %w(выбрать)
      %br
      %p
        = label_tag :username, caption: 'Ваше имя'
        = select_tag :username, options: %w(выбрать)
      %p
        = label_tag :email, caption: 'Ваш е-mail'
        = select_tag :email, options: %w(выбрать)

      %p= submit_tag 'Отправить'

.gallery
  %h3
    %a{ name: 'gallery' } Галерея
  .carousel
    - 6.times do
      .carousel__item

.banner._feedback
  %section
    %h3
      %a{ name: 'feedback' } Отзывы

    .comment
      .comment__author Clint Eastwood:
      “There's only one way to have a happy marriage and as soon as I learn what it is I'll get married again.”

    .comment
      .comment__author Og Mandino:
      “Treasure the love you have received above all. It will survive long after your gold and good health have vanished.”

    .comment
      .comment__author Pythagoras:
      “Rest satisfied with doing well, and leave others to talk of you as they please.”

    .stickers
      .feedback__more-link= link_to 'показать больше'
      .feedback__add-link= link_to 'оставить свой отзыв', '#give_feedback'

    .modal#give_feedback
      .details
        .close= link_to '×', '#'
        %h3 Оставить отзыв
        = form_tag 'feedback' do
          %p
            = label_tag :username, caption: 'Имя и фамилия'
            = text_field_tag :username, placeholder: 'введите имя и фамилию'
          %p
            = label_tag :text, caption: 'Ваш отзыв'
            ~ text_area_tag :text, placeholder: 'введите текст…'
          %p
            = label_tag :stub, caption: ''
            = submit_tag 'Отправить отзыв'
