---
title: todo (add title)
description: todo
---

.showcase

  %section
    - 4.times do
      .snippet
        .snippet__thumb= image_tag 'assets/img/item.png'
        %h3.snippet__title LED штендер
        .snippet__description
          Новаторская, простая, недорогая и эффективная рекламная технология
        .snippet__more-link= link_to 'узнать больше…', '#'
        .stickers
          .price
            цена:
            %span.amount 111 грн
          .order-link= link_to 'Заказать', '#'

.banner._markers
  %section
    %h3 Флуоресцентные маркеры 8 штук
    %p Флуоресцентные маркеры применяются для выполнения надписей и рисунков на нашей продукции.
    %p Маркеры изготовлены на водной основе, без запаха, легко стираются бумажной салфеткой.
    %p
      %strong Толщина стержня – 8 мм.
    %p Перед использованием маркер необходимо встряхнуть, нажать на стержень и держать, пока он не пропитается краской.
    %p В набор входят маркеры желтого, белого, красного, синего, зеленого, оранжевого, фиолетового и розового цветов.
    %p Мы предлагаем только качественные, хорошо зарекомендовавшие себя маркеры, благодаря чему Ваши надписи и рисунки будут яркими и привлекательными!
    .stickers
      .order-link= link_to 'Заказать', '#'
      .price
        цена:
        %span.amount 111 грн

.banner._features
  %section
    %h3
      %a{ name: 'why_use' } Зачем использовать?
    .thumb._left
    %p По статистике, LED доска привлекает внимание на 60% больше, чем обычная меловая доска, увеличивает количество клиентов, и соответственно, продаж.
    %p Красиво информируйте о своих продуктах, услугах, распродажах, скидках и акциях!
    %br
    %p Какие же плюсы от использования LED доски?
    %ul
      %li привлекательный визуальный эффект, на который невозможно не обратить внимание;
      %li 30 режимов, 8 цветов мерцания и подсветки;
      %li легкость смены надписей:
      %li доступная цена и высокая эффективность;
      %li низкое энергопотребление.
    .thumb._right
    %p
      %strong Какими преимуществами обладает флуоресцентная доска?
    %ul
      %li с помощью данных изделий можно украсить интерьер любого помещения, сделав его более ярким красочным и способным привлечь внимание посетителей магазина, салона, торгового зала;
      %li теперь число ваших клиентое заметно увеличится, так как новое предложение сразу же будет замечено и оценено по достоинству;
      %li неоновые доски — это отличный технологический подход.  необходимый для ведения современного бизнеса.

  .banner__footer
    %h4
      %a{ name: 'calculate_price' }  Сделать расчет LED-доски по индивидуальным размерам Вы можете сделать прямо тут.
    .order-link= link_to 'Рассчитать', '#'

.gallery
  %h3
    %a{ name: 'gallery' } Галерея
  .carousel
    - 6.times do
      .carousel__item

.banner
  %section
    %h3
      %a{ name: 'feedback' } Отзывы

    .comment
      .comment__author Clint Eastwood:
      “There's only one way to have a happy marriage and as soon as I learn what it is I'll get married again.”

    .comment
      .comment__author Og Mandino:
      “Treasure the love you have received above all. It will survive long after your gold and good health have vanished.”

    .comment
      .comment__author Pythagoras:
      “Rest satisfied with doing well, and leave others to talk of you as they please.”
