---
title: "LEDtech.in.ua: LED-доска, LED-штендер любых размеров – изготовление в Украине"
description: Эффективная и недорогая реклама — это просто с LEDtech. Качество продукции, надежность и сервис гарантированы.
keywords: LED доска, лед доска, рекламная доска, светящиеся доска, доски для маркера, светящиеся доски для рекламы, флеш доска, флуоресцентная доска, светодиодные доски, LED board, флуоресцентные маркеры, наружная реклама, штендер, LED штендер, LED панель, недорогая эффективная реклама, светящиеся маркеры, мимоход, афиши, меловой штендер, штендер деревянный, штендер двухсторонний, штендер Киев, доска Киев, изготовление штендеров Киев
---

.banner.promo
  %h1.promo__title= image_tag "assets/img/h1-content.png", alt: "LED-Доски"
  %h2.promo__subtitle= image_tag "assets/img/h2-content.png", alt: "Сделаем рекламу ярче"
  %h3.promo__description Прекрасная альтернатива стандартной меловой доске
  %h4.promo__phone
    = link_to data.content.phone1.gsub(/[()]/, ""), "tel:+38-095-180-2253"
    %br
    = link_to data.content.phone2.gsub(/[()]/, ""), "tel:+38-050-805-4111"

%section.annotation
  %h2.annotation__title Эффективное решение для рекламы
  %h3.annotation__subtitle Быстро и легко привлечь покупателей!
  %p.annotation__description
    Светящиеся доски и штендеры – инновационный инструмент рекламы, который позволит Вам эффективно "общаться" с клиентами.
    Вы самостоятельно наносите текст или изображение на пишущую поверхность рекламных изделий с помощью специальных маркеров,
    а встроенная LED-подсветка создает яркий и привлекательный эффект вашим сообщениям.
.banner.catalog
  %section
    %h2
      %a{ name: "prices" } Ассортимент и цены
    %ul.content
      - data.content.catalog.products.each_with_index do |item, i|
        %li.snippet
          .snippet__thumb= link_to image_tag("assets/img/item#{i + 1}.jpg"), "##{item.url}"
          %h3.snippet__title= item.title
          %p.snippet__description= item.description
          .price
            от
            %span.amount= item.sizes.map{|s| s["price"]}.min
            грн
          .btn-primary= link_to "Заказать", "##{item.url}"
          .modal{ id: item.url }
            .details.details-table
              .close= link_to '×', '#prices'
              .details__form
                %h3= item.form_title || item.title
                = form_tag data.content.form_action do
                  = hidden_field_tag :_next, value: "#thanks_for_order"
                  = hidden_field_tag :_subject, value: "Новый заказ на ledtech"
                  = hidden_field_tag :product, value: item.title
                  = hidden_field_tag :_cc, value: data.content.cc_email
                  = label_tag "size_#{i}", caption: "Размер пишущей поверхности"
                  .custom-dropdown
                    = select_tag :size,
                      id: "size_#{i}",
                      options: item.sizes.map{|s| "#{s['size']} – #{s['price']} грн" }
                  = partial :credentials_fields,
                    locals: { name_id: "customer_name_#{i}", email_id: "customer_email_#{i}" }
                  = submit_tag "Отправить заявку"
              .details__contents
                .details__snippet-thumb= image_tag "assets/img/item#{i + 1}_min.jpg"
                %h4 Комплектация:
                %ol
                  - data.content.catalog.contents.each do |entry|
                    %li= entry.sub "_title_", item.title
                %h4 Поставляется отдельно:
                %ul
                  - data.content.catalog.additional_contents.each do |entry|
                    %li= entry

- item = data.content.catalog.markers
%section.markers
  .snippet
    .snippet__thumb= link_to image_tag("assets/img/markers.jpg"), "##{item.url}"
    %h3.snippet__title= item.title
    %p.snippet__description
      Флуоресцентные маркеры применяются для выполнения надписей и рисунков на нашей продукции.
      Маркеры изготовлены на водной основе, без запаха, легко стираются бумажной салфеткой.
      Толщина стержня – 8 мм.
    %p.snippet__description
      Перед использованием маркер необходимо встряхнуть, нажать на стержень и держать, пока он не пропитается краской.
    .price
      от
      %span.amount= item.price
      грн
    .btn-primary= link_to "Заказать", "##{item.url}"
    .modal{ id: item.url }
      .details.details-table
        .close= link_to '×', '#prices'
        .details__form
          %h3= item.title
          = form_tag data.content.form_action do
            = hidden_field_tag :_next, value: "#thanks_for_order"
            = hidden_field_tag :_subject, value: "Новый заказ на ledtech"
            = hidden_field_tag :product, value: item.title
            = hidden_field_tag :_cc, value: data.content.cc_email
            = partial :credentials_fields, locals: { name_id: "customer_name_markers", email_id: "customer_email_markers" }
            = submit_tag "Отправить заявку"
        .details__contents
          .details__snippet-thumb= image_tag "assets/img/markers_min.jpg"
          %h4 Набор разноцветных маркеров (8 штук):
          %p синий, розовый, белый, жёлтый, фиолетовый, красный, зелёный, оранжевый
          %p Толщина линии – 8 мм

.banner.features
  %section
    %h2
      %a{ name: "why_use" } Как это работает
    %ul.content
      %li.snippet
        %h3.snippet__title Просто
        %p.snippet__description Вы пишите и рисуете всё что угодно, как на обычной меловой доске или штендере
      %li.snippet
        %h3.snippet__title Удобно
        %p.snippet__description Надписи можно стирать и наносить заново. Вы легко управляете коммуникацией с вашими клиентами / посетителями
      %li.snippet
        %h3.snippet__title Эффективно
        %p.snippet__description Вместо мелка используются флуоресцентные маркеры, чернила которых ярко светятся на пишущей поверхности, имеющей светодиодную (LED) подсветку
      %li.snippet
        %h3.snippet__title Разнообразно
        %p.snippet__description 19 возможных режимов работы LED-подсветки. Возможность дневного применения без включенной подсветки
    -#
      %p По статистике, LED доска привлекает внимание на 60% больше, чем обычная меловая доска, увеличивает количество клиентов, и соответственно, продаж.
      %p Красиво информируйте о своих продуктах, услугах, распродажах, скидках и акциях!
      %br
      %p Какие же плюсы от использования LED доски?
      %ul
        %li привлекательный визуальный эффект, на который невозможно не обратить внимание;
        %li 30 режимов, 8 цветов мерцания и подсветки;
        %li легкость смены надписей:
        %li доступная цена и высокая эффективность;
        %li низкое энергопотребление.
      %p
        %strong Какими преимуществами обладает флуоресцентная доска?
      %ul
        %li с помощью данных изделий можно украсить интерьер любого помещения, сделав его более ярким красочным и способным привлечь внимание посетителей магазина, салона, торгового зала;
        %li теперь число ваших клиентое заметно увеличится, так как новое предложение сразу же будет замечено и оценено по достоинству;
        %li неоновые доски — это отличный технологический подход.  необходимый для ведения современного бизнеса.

.banner.form
  %section
    %h2
      %a{ name: "calculate" } Рассчёт стоимости LED-изделия
    %h3 по индивидуальным размерам
    = form_tag data.content.form_action do
      = hidden_field_tag :_next, value: "#thanks_for_order"
      = hidden_field_tag :_subject, value: "Новый заказ на ledtech"
      = hidden_field_tag :_cc, value: data.content.cc_email
      .form__column
        = label_tag :product, caption: "Изделие"
        .custom-dropdown= select_tag :product, id: "product", options: %w(LED-штендер LED-доска)
        = label_tag :construction, caption: "Конструкция"
        .custom-dropdown= select_tag :construction, id: "construction", options: %w(Односторонняя Двусторонняя)
        = label_tag :width, caption: "Размеры поверхности, см"
        = text_field_tag :width, id: "width", placeholder: "Ширина"
        = text_field_tag :height, id: "height", placeholder: "Высота"
      .form__column
        = partial :credentials_fields, locals: { name_id: "customer_name_spec", email_id: "customer_email_spec" }
      %p= submit_tag "Отправить"

  .modal#thanks_for_order
    .details
      .details__message
        %h3 Ваша заявка принята
        %p Спасибо, что обратились в нашу компанию, менеджер свяжется с вами в ближайшее время.
        .btn-primary= link_to "Закрыть", "#"

.gallery
  %section
    %h2
      %a{ name: 'gallery' } Галерея
    .carousel
      - data.content.gallery.each do |item|
        .carousel__item
          = link_to image_tag("assets/img/#{item.src}_m.jpg", alt: item.alt), "assets/img/#{item.src}.jpg"

.banner.feedback
  %section
    %h2
      %a{ name: 'feedback' } Отзывы

    %ul.content
      - data.content.feedback.each_with_index do |item, i|
        %li.comment
          %blockquote.comment__body= item.body
          %span.comment__author= item.author

    .feedback__add-link= link_to 'Оставить отзыв', '#give_feedback'

    .modal#give_feedback
      .details
        .close= link_to "×", "#"
        .details__form
          %h3 Оставить отзыв
          = form_tag data.content.form_action do
            = hidden_field_tag :_next, value: "#thanks_for_feedback"
            = hidden_field_tag :_subject, value: "Новый отзыв на ledtech"
            = hidden_field_tag :_cc, value: data.content.cc_email
            = label_tag :username, caption: "Имя и фамилия"
            = text_field_tag :username, id: "username", placeholder: "Введите имя и фамилию"
            = label_tag :feedback_text, caption: "Ваш отзыв"
            ~ text_area_tag :feedback_text, id: "feedback_text", placeholder: "Введите текст…"
            = submit_tag "Отправить отзыв"

    .modal#thanks_for_feedback
      .details
        .details__message
          %h3 Спасибо за отзыв
          .btn-primary= link_to "Закрыть", "#"

.banner.contacts
  %section
    %h2
      %a{ name: 'contacts' } Контакты
    .logo= image_tag "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22393%22%20height%3D%2263%22%20viewBox%3D%220%200%20393%2063%22%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M0%200v63h58v-4H32V0zM65%200v63h60v-4H97V33h21v-4H97V4h28V0zM134%200v63h45v-4h-13V4h13V0zM179%200v63c44%205%2044-67%200-63z%22%2F%3E%3Cpath%20d%3D%22M219%2022v28c1%2011%205%2013%2017%2013s14-2%2015-5v-3h-2c-1%206-5%206-11%206V39h8v-2h-8V22zM254%2047v3c1%2011%205%2013%2022%2013s19-1%2020-8v-1h-2c0%209-19%207-21%206V47zM254%2047h19V31c-4%200-18%201-19%2015zM273%2047h23c1-15-11-16-23-16v3c12-1%2020%203%2020%2010h-20zM300%2047v3c1%2011%205%2013%2022%2013s19-1%2020-8v-1h-2c0%209-19%207-21%206V47zM300%2047v-3c1-11%205-13%2022-13s19%201%2020%208v1h-2c0-9-19-7-21-6v13zM346%2022v41h19V40c0-8%209-8%209%200v23h19V45c0-6-4-15-28-14v-9z%22%2F%3E%3C%2Fsvg%3E"
    .contacts__phone
      = succeed ',' do
        = link_to data.content.phone1, "tel:+38-095-180-2253"
      = link_to data.content.phone2, "tel:+38-050-805-4111"
    .contacts__email= link_to data.content.email, "mailto:#{data.content.email}"

    - if build?
      #fb-root
      = javascript_include_tag "//vk.com/js/api/openapi.js?121"
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        VK.init({apiId: 5241214, onlyWidgets: true});
      .fb-like{ "data-href" => "http://ledtech.in.ua/",
        "data-layout" => "button_count",
        "data-action" => "like",
        "data-show-faces" => "true",
        "data-share" => "true" }

      #vk_like{ style: "margin: 20px auto 0; padding-left: 18px;" }
      :javascript
        VK.Widgets.Like("vk_like", {type: "button"});
