---
title: Welcome to Middleman + HTML5 Boilerplate 3.0 Using HAML
description: Description!
---

.showcase
  %section
    .snippet
      .snippet__thumb= image_tag 'assets/img/item.png'
      %h3.snippet__title LED штендер
      .snippet__description
        Новаторская, простая, недорогая и эффективная рекламная технология
      .snippet__more-link= link_to 'узнать больше…', '#'
      .snippet__stickers
        .snippet__price цена: 111 грн
        .order-link= link_to 'Заказать', '#'

    .snippet
      .snippet__thumb= image_tag 'assets/img/item.png'
      %h3.snippet__title LED штендер
      .snippet__description
        Новаторская, простая, недорогая и эффективная рекламная технология
      .snippet__more-link= link_to 'узнать больше…', '#'
      .snippet__stickers
        .snippet__price цена: 111 грн
        .order-link= link_to 'Заказать', '#'

    .snippet
      .snippet__thumb= image_tag 'assets/img/item.png'
      %h3.snippet__title LED штендер
      .snippet__description
        Новаторская, простая, недорогая и эффективная рекламная технология
      .snippet__more-link= link_to 'узнать больше…', '#'
      .snippet__stickers
        .snippet__price цена: 111 грн
        .order-link= link_to 'Заказать', '#'

    .snippet
      .snippet__thumb= image_tag 'assets/img/item.png'
      %h3.snippet__title LED штендер
      .snippet__description
        Новаторская, простая, недорогая и эффективная рекламная технология
      .snippet__more-link= link_to 'узнать больше…', '#'
      .snippet__stickers
        .snippet__price цена: 111 грн
        .order-link= link_to 'Заказать', '#'

%section.banner
  %h3 Флуоресцентные маркеры 8 штук
  %p Флуоресцентные маркеры применяются для выполнения надписей и рисунков на нашей продукции.
  %p Маркеры изготовлены на водной основе, без запаха, легко стираются бумажной салфеткой.
  %p
    %strong Толщина стержня – 8 мм.
  %p Перед использованием маркер необходимо встряхнуть, нажать на стержень и держать, пока он не пропитается краской.
  %p В набор входят маркеры желтого, белого, красного, синего, зеленого, оранжевого, фиолетового и розового цветов.
  %p Мы предлагаем только качественные, хорошо зарекомендовавшие себя маркеры, благодаря чему Ваши надписи и рисунки будут яркими и привлекательными!
  .order-link= link_to 'Заказать', '#'

-#
  Цена: Заказать

  ЗАЧЕМ ИСПОАЬЗОВАТЬ?

  По статистике. |_Е!) доска привлекает внимание на 60%
  больше, чем обычная меловая доска, увеличивает количество
  клиентов, и соответственно, продаж.

  Красиво информируйте о своих продуктах, услугах,
  распродажах, скидках и акциях!

  Какие же плюсы от спользования ЬЕВ ДОСКИ?

  - привлекательный визуальный эффект на который не
  возможно не обратить внимание;

  - 30 режимов, 8 цветов мерцания и подсветки;

  - легкость смены надписей:

  „доступная цена и высокая эФФективность;

  - низкое энергопотребление;

  какими преимуществами обладает флуоресцентная доска?
  - с помощью данных изделий можно украсить интерьер
  любого помещения, сделав его более ярким красочным и
  способным привлечь внимание посетителей магазина.
  салона, торгового зала.

  - ТЕПЕРЬ ЧИОАО ВБШИХ КАИЕНТОЕ ЗЗМЕТНО УВЭЛИЧИТОП, ГЭК КЭК
  новое предложение сразу же будет замечено и оценено по
  достоинству.

  — неоновые доски — это отличный технологический подход.
  необходимый для ведения современного бизнеса,

  Сделать расчет ЬЕВ-доски по индивидуальным размерам Вы можете сделать прямо тут.
  РАСЧЕТАТЬ

